In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import GradientBoostingRegressor
import requests
from scipy import stats
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import RFE, SelectKBest, chi2
# from tensorflow.keras.layers import *
# import tensorflow as tf

In [2]:
train_data = pd.read_csv('./X_train.csv')
train_targets = pd.read_csv('./y_train.csv')
test_data = pd.read_csv('./X_test.csv')

In [3]:
train_data = train_data.drop(['id', 'Moons'], axis=1)
test_data = test_data.drop(['id', 'Moons'], axis=1)

In [4]:
train_data.head()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10,...,Feature_107,Feature_108,Feature_109,Feature_110,Feature_111,Feature_112,Feature_113,Feature_114,Feature_115,Feature_116
0,0.5,0.5,0.50,0.50,0.75,0.75,0.50,0.75,0.75,0.75,...,1.00,0.50,1.00,0.50,0.00,0.25,0.75,0.75,0.50,0.50
1,0.0,0.0,0.25,0.25,0.50,1.00,0.75,1.00,0.75,0.50,...,0.00,0.75,0.00,0.75,0.75,0.25,0.50,0.25,0.75,0.50
2,0.5,0.5,0.00,0.25,0.50,0.50,1.00,0.75,0.75,0.75,...,0.75,0.50,0.75,0.75,0.25,0.25,0.00,0.25,0.50,1.00
3,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.25,0.25,0.25,0.00,0.00,0.50,0.75,0.75,0.75,0.75
4,1.0,1.0,1.00,1.00,0.75,0.75,0.75,0.75,0.75,0.75,...,0.00,0.75,0.00,0.75,0.25,0.50,0.50,0.75,0.75,0.75

In [5]:
train_targets.head()

   target_r  target_g  target_b
0      0.00      0.00      0.50
1      0.50      0.00      0.50
2      0.25      0.00      0.25
3      0.50      0.50      0.25
4      1.00      0.75      0.50

In [6]:
test_data.head()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10,...,Feature_107,Feature_108,Feature_109,Feature_110,Feature_111,Feature_112,Feature_113,Feature_114,Feature_115,Feature_116
0,1.00,0.75,1.00,1.0,1.0,0.75,1.00,1.00,1.00,1.00,...,0.25,1.00,0.00,1.00,0.75,0.25,0.25,0.75,0.25,0.00
1,1.00,0.25,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,1.00,0.00,1.00,0.25,0.25,0.25,0.25,0.50,0.00
2,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00,1.00,1.00,...,0.75,0.75,0.50,0.75,0.75,0.75,1.00,0.00,1.00,0.75
3,0.25,0.50,0.75,1.0,1.0,1.00,0.75,0.75,0.75,0.75,...,0.25,0.25,0.25,0.25,0.25,0.75,1.00,1.00,0.75,1.00
4,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0.50,1.00,0.00,1.00,0.00,0.25,0.25,0.50,0.75,0.25

# Modeling

In [7]:
model = xgb.XGBRegressor(objective='reg:squarederror', max_depth=5, learning_rate=0.01, n_estimators=2000, n_jobs=-1, colsample_bytree=0.5)

In [8]:
def xg_boost_hackathon(model, data, target):
    X, y = data, target
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    #model = xgb.XGBRegressor(objective='reg:squarederror', max_depth=5, learning_rate=0.01, n_estimators=2000, n_jobs=-1, colsample_bytree=0.5)
    #model = GradientBoostingRegressor(loss= 'squared_error',max_depth=5,learning_rate=0.01, n_estimators=2000, criterion='squared_error', max_features='sqrt', random_state=0)
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    # print(model.feature_importances_)
    scorer(y_test, pred)
    #accuracy(y_test, pred)

    return model

In [9]:
def scorer(y_test, y_pred):
    score = (stats.spearmanr(y_test, y_pred)*100)[0]
    print('Score as calculated for the leader board (っಠ‿ಠ)っ {}'.format(score))
    # print('accuracy_score: {}'.format(accuracy_score(y_test, y_pred)))

In [10]:
model_target_r= xg_boost_hackathon(model, train_data, train_targets.target_r)
model_target_g= xg_boost_hackathon(model, train_data, train_targets.target_g)
model_target_b= xg_boost_hackathon(model, train_data, train_targets.target_b)

Score as calculated for the leader board (っಠ‿ಠ)っ 0.08078807259818213
Score as calculated for the leader board (っಠ‿ಠ)っ 0.09431679591744818
Score as calculated for the leader board (っಠ‿ಠ)っ 0.11549315945425001

# Features Selection

## Using RFE

In [ ]:
# def rfe_selection(model, test_data_input, train_data_input, target):

#     print('\nSelecting features...')
#     recur = RFE(estimator = model, n_features_to_select = 15)
#     features = recur.fit(train_data_input, target)

#     # print(f'Number of features: {features.n_features_} ')
#     # print(f'Selected Features are: {features.support_}')
#     # print(f'Features rangking is as follows: {features.ranking_}')
#     new_features = []

#     print('Create new features...')
#     for i, v in enumerate(features.support_):
#         if v == True:
#             new_features.append(train_data_input.columns[i])
    
#     new_train_data = train_data_input[new_features]
#     #print(new_train_data.columns)
#     new_test_data = test_data_input[new_features]
#     #print(new_test_data.columns)

#     # print('Modeling with new features...')
#     # model = xg_boost_hackathon(model, new_train_data, target)


#     return new_test_data, new_train_data

In [ ]:
# test_data_r, train_data_r = rfe_selection(model, test_data, train_data, train_targets.target_r)
# test_data_g, train_data_g= rfe_selection(model, test_data, train_data, train_targets.target_g)
# test_data_b, train_data_b= rfe_selection(model, test_data, train_data,train_targets.target_b)

Selecting features...
Create new features...

Selecting features...
Create new features...

Selecting features...
Create new features...

In [ ]:
# test_data_r.columns

Index(['Feature_3', 'Feature_8', 'Feature_9', 'Feature_12', 'Feature_14',
       'Feature_15', 'Feature_22', 'Feature_23', 'Feature_28', 'Feature_29',
       'Feature_30', 'Feature_31', 'Feature_36', 'Feature_37', 'Feature_38'],
      dtype='object')

In [ ]:
# train_data_r.columns

Index(['Feature_3', 'Feature_8', 'Feature_9', 'Feature_12', 'Feature_14',
       'Feature_15', 'Feature_22', 'Feature_23', 'Feature_28', 'Feature_29',
       'Feature_30', 'Feature_31', 'Feature_36', 'Feature_37', 'Feature_38'],
      dtype='object')

In [ ]:
# rfe_model_r= xg_boost_hackathon(model, train_data_r, train_targets.target_r)
# rfe_model_g= xg_boost_hackathon(model, train_data_g, train_targets.target_g)
# rfe_model_b= xg_boost_hackathon(model, train_data_b, train_targets.target_b)

Score as calculated for the leader board (っಠ‿ಠ)っ 0.11041881775968065
Score as calculated for the leader board (っಠ‿ಠ)っ 0.09328949919200528
Score as calculated for the leader board (っಠ‿ಠ)っ 0.08701828306625052

# Using Chi Score

In [18]:
chi2_selector = SelectKBest(chi2, k=50)

In [19]:
x_best = chi2_selector.fit_transform(train_data, train_targets.target_r.astype('int'))

In [20]:
x_best.shape

(581088, 50)

In [21]:
model_target_r_chi= xg_boost_hackathon(model, x_best, train_targets.target_r)
model_target_g_chi= xg_boost_hackathon(model,x_best, train_targets.target_g)
model_target_b_chi= xg_boost_hackathon(model, x_best, train_targets.target_b)

Score as calculated for the leader board (っಠ‿ಠ)っ 0.061293094064054095
Score as calculated for the leader board (っಠ‿ಠ)っ 0.07638523391595195
Score as calculated for the leader board (っಠ‿ಠ)っ 0.08995397242873689

# make a prediction

In [11]:
prediction = pd.DataFrame()
prediction['target_r'] = model_target_r.predict(test_data)
prediction['target_g'] = model_target_g.predict(test_data)
prediction['target_b'] = model_target_b.predict(test_data)

In [12]:
prediction

       target_r  target_g  target_b
0      0.418833  0.418833  0.418833
1      0.430622  0.430622  0.430622
2      0.479995  0.479995  0.479995
3      0.482437  0.482437  0.482437
4      0.473696  0.473696  0.473696
...         ...       ...       ...
12146  0.516417  0.516417  0.516417
12147  0.494367  0.494367  0.494367
12148  0.525869  0.525869  0.525869
12149  0.449945  0.449945  0.449945
12150  0.417587  0.417587  0.417587

[12151 rows x 3 columns]

In [13]:
API_KEY = "" # <- HERE

r = requests.post("https://tournament.crunchdao.com/api/v2/submissions",
    files = {
        "file": ("x", prediction.to_csv().encode('ascii'))
    },
    data = {
        "apiKey": API_KEY
    },
)

if r.status_code == 200:
    print("Submission submitted.")
elif r.status_code == 423:
    print("ERR: Submissions are close")
    print("You can only submit during rounds eg: Friday 7pm GMT+1 to Sunday midnight GMT+1.")
    print("Or the server is currently crunching the submitted files, please wait some time before retrying.")
elif r.status_code == 422:
    print("ERR: API Key is missing or empty")
    print("Did you forget to fill the API_KEY variable?")
elif r.status_code == 400:
    print("ERR: The file must not be empty")
    print("You have send a empty file.")
elif r.status_code == 401:
    print("ERR: Your email hasn't been verified")
    print("Please verify your email or contact a cruncher.")
elif r.status_code == 409:
    print("ERR: Duplicate submission")
    print("Your work has already been submitted with the same exact results, if you think that this a false positive, contact a cruncher.")
    print("MD5 collision probability: 1/2^128 (source: https://stackoverflow.com/a/288519/7292958)")
elif r.status_code == 429:
    print("ERR: Too many submissions")
else:
    print("ERR: Server returned: " + str(r.status_code))
    print("Ouch! It seems that we were not expecting this kind of result from the server, if the probleme persist, contact a cruncher.")

Submission submitted.