In [2]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import GradientBoostingRegressor
import requests
from scipy import stats
from sklearn.feature_selection import VarianceThreshold
# from tensorflow.keras.layers import *
# import tensorflow as tf

In [8]:
train_data = pd.read_csv('./X_train.csv')
train_targets = pd.read_csv('./y_train.csv')
test_data = pd.read_csv('./X_test.csv')

In [10]:
train_data = train_data.drop(['id', 'Moons'], axis=1)
test_data = test_data.drop(['id', 'Moons'], axis=1)

In [11]:
train_data.head()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10,...,Feature_59,Feature_60,Feature_61,Feature_62,Feature_63,Feature_64,Feature_65,Feature_66,Feature_67,Feature_68
0,0.50,0.25,0.25,0.75,0.00,0.75,0.25,1.00,0.00,0.00,...,0.0,0.00,0.5,0.50,0.50,0.00,0.25,0.0,0.5,1.00
1,0.00,0.00,0.75,0.75,0.25,1.00,0.75,0.75,0.25,0.00,...,0.5,1.00,0.5,0.25,0.50,0.25,1.00,0.0,0.5,0.75
2,0.00,0.00,1.00,0.50,0.50,0.50,1.00,0.50,0.25,0.00,...,0.5,0.00,0.5,0.25,0.25,0.25,0.50,0.0,0.5,1.00
3,0.50,0.25,0.25,0.00,1.00,0.25,0.00,0.00,0.00,0.00,...,0.0,0.25,0.0,0.50,1.00,1.00,0.00,0.0,0.0,1.00
4,0.75,1.00,0.25,0.75,0.00,0.50,1.00,1.00,0.25,0.75,...,0.0,0.25,0.0,0.50,1.00,0.00,0.00,0.0,0.0,0.75

In [13]:
train_targets.head()

   target_r  target_g  target_b
0       0.0       0.0       0.0
1       0.0       0.5       1.0
2       1.0       1.0       1.0
3       0.5       0.0       0.0
4       1.0       1.0       1.0

In [12]:
test_data.head()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10,...,Feature_59,Feature_60,Feature_61,Feature_62,Feature_63,Feature_64,Feature_65,Feature_66,Feature_67,Feature_68
0,0.5,0.75,0.75,0.50,0.25,0.25,0.0,0.50,0.25,0.0,...,0.0,0.00,0.0,0.25,0.50,0.00,1.0,0.0,0.0,1.0
1,0.0,0.50,0.75,0.75,0.25,0.25,0.0,0.75,1.00,1.0,...,0.0,0.75,0.5,0.75,0.00,0.75,1.0,0.0,0.5,0.0
2,0.0,0.50,0.75,0.75,0.50,0.25,0.0,0.75,1.00,1.0,...,0.5,0.75,0.5,1.00,0.75,0.50,0.0,0.0,0.5,0.0
3,0.0,0.75,0.25,0.75,0.00,0.00,0.0,1.00,0.00,0.0,...,0.0,0.00,0.0,0.50,0.00,0.00,1.0,0.0,0.0,1.0
4,0.5,0.25,0.00,0.25,1.00,0.00,0.0,0.00,0.00,0.0,...,0.5,0.75,0.5,0.50,1.00,0.25,0.0,0.0,0.0,1.0

In [14]:
def xg_boost_hackathon(data, target):
    X, y = data, target
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    model = xgb.XGBRegressor(objective='reg:squarederror', max_depth=5, learning_rate=0.01, n_estimators=2000, n_jobs=-1, colsample_bytree=0.5)
    #model = GradientBoostingRegressor(loss= 'squared_error',max_depth=5,learning_rate=0.01, n_estimators=2000, criterion='squared_error', max_features='sqrt', random_state=0)
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    # print(model.feature_importances_)
    scorer(y_test, pred)
    #accuracy(y_test, pred)

    return model

In [15]:
def scorer(y_test, y_pred):
    score = (stats.spearmanr(y_test, y_pred)*100)[0]
    print('Score as calculated for the leader board (っಠ‿ಠ)っ {}'.format(score))
    # print('accuracy_score: {}'.format(accuracy_score(y_test, y_pred)))

In [16]:
model_target_r = xg_boost_hackathon(train_data, train_targets.target_r)
model_target_g = xg_boost_hackathon(train_data, train_targets.target_g)
model_target_b = xg_boost_hackathon(train_data, train_targets.target_b)

Score as calculated for the leader board (っಠ‿ಠ)っ 0.1414441758044843
Score as calculated for the leader board (っಠ‿ಠ)っ 0.1010336641738009
Score as calculated for the leader board (っಠ‿ಠ)っ 0.0870982602292688

In [20]:
def feature_selection(model, train_data):
    feature_selection = []
    i = 0
    for feature_importance in model.feature_importances_:
        if feature_importance >= 0.005:
            #print(feature_importance)
            feature_selection.append(train_data.columns[i])
        i+=1

    train_data_selection = train_data[feature_selection]
    
    return train_data_selection

In [21]:
feature_model_r = feature_selection(model_target_r, train_data)
# because the feature selection for 3 models is same therfore I comment the rest model
feature_model_g = feature_selection(model_target_g, train_data)
feature_model_b = feature_selection(model_target_b,train_data)