In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import GradientBoostingRegressor
import requests
from scipy import stats
from sklearn.feature_selection import VarianceThreshold
from tensorflow.keras.layers import *
import tensorflow as tf

In [4]:
train_data = pd.read_csv("./X_train.csv")
train_targets = pd.read_csv("./y_train.csv")
test_data = pd.read_csv("./X_test.csv")

# display(train_data)
# display(train_targets)
# display(test_data)

# EDA

## Check dataset

In [5]:
train_data.head()

,id,Moons,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,...,Feature_140,Feature_141,Feature_142,Feature_143,Feature_144,Feature_145,Feature_146,Feature_147,Feature_148,Feature_149
0,50cbe00e43fa9573ec8a7aa186b93474533efa3e66390e...,0,0.0,0.0,0.0,0.25,0.25,0.0,0.75,0.00,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.25
1,eb00b98aa721953abe4c59ff6970b3ae13daac948d5ca4...,0,1.0,1.0,0.0,1.00,1.00,0.0,0.00,0.75,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.25
2,af82e0423cf8d9c1fb2acec7f67d4623435d763e81ec26...,0,0.0,0.0,0.0,0.00,0.00,0.0,1.00,0.00,...,1.0,1.0,1.0,0.0,0.75,0.0,0.0,0.0,0.0,0.25
3,6a880f7a961c53cad703fc2fb5e264e5e04fd779048aec...,0,1.0,0.0,1.0,0.50,0.00,1.0,1.00,1.00,...,1.0,0.0,0.0,0.0,0.75,0.0,1.0,0.0,1.0,0.00
4,99a4bcd9cab581a4e48de3d5b2760f7bf3be08214a5dcc...,0,0.5,0.5,0.0,0.25,0.25,0.0,0.75,0.75,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00

In [6]:
train_targets.head()

   target_r  target_g  target_b
0      0.75      0.50      0.75
1      0.50      0.25      0.75
2      0.75      0.00      0.25
3      0.50      0.25      0.00
4      0.00      0.75      0.75

In [7]:
train_data.head()

,id,Moons,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,...,Feature_140,Feature_141,Feature_142,Feature_143,Feature_144,Feature_145,Feature_146,Feature_147,Feature_148,Feature_149
0,50cbe00e43fa9573ec8a7aa186b93474533efa3e66390e...,0,0.0,0.0,0.0,0.25,0.25,0.0,0.75,0.00,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.25
1,eb00b98aa721953abe4c59ff6970b3ae13daac948d5ca4...,0,1.0,1.0,0.0,1.00,1.00,0.0,0.00,0.75,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.25
2,af82e0423cf8d9c1fb2acec7f67d4623435d763e81ec26...,0,0.0,0.0,0.0,0.00,0.00,0.0,1.00,0.00,...,1.0,1.0,1.0,0.0,0.75,0.0,0.0,0.0,0.0,0.25
3,6a880f7a961c53cad703fc2fb5e264e5e04fd779048aec...,0,1.0,0.0,1.0,0.50,0.00,1.0,1.00,1.00,...,1.0,0.0,0.0,0.0,0.75,0.0,1.0,0.0,1.0,0.00
4,99a4bcd9cab581a4e48de3d5b2760f7bf3be08214a5dcc...,0,0.5,0.5,0.0,0.25,0.25,0.0,0.75,0.75,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00

In [8]:
all_train_data = train_data.merge(train_targets, how='right',  left_index=True, right_index=True)

In [9]:
all_train_data.head()

,id,Moons,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,...,Feature_143,Feature_144,Feature_145,Feature_146,Feature_147,Feature_148,Feature_149,target_r,target_g,target_b
0,50cbe00e43fa9573ec8a7aa186b93474533efa3e66390e...,0,0.0,0.0,0.0,0.25,0.25,0.0,0.75,0.00,...,0.0,0.00,0.0,0.0,0.0,0.0,0.25,0.75,0.50,0.75
1,eb00b98aa721953abe4c59ff6970b3ae13daac948d5ca4...,0,1.0,1.0,0.0,1.00,1.00,0.0,0.00,0.75,...,0.0,0.00,0.0,0.0,0.0,0.0,0.25,0.50,0.25,0.75
2,af82e0423cf8d9c1fb2acec7f67d4623435d763e81ec26...,0,0.0,0.0,0.0,0.00,0.00,0.0,1.00,0.00,...,0.0,0.75,0.0,0.0,0.0,0.0,0.25,0.75,0.00,0.25
3,6a880f7a961c53cad703fc2fb5e264e5e04fd779048aec...,0,1.0,0.0,1.0,0.50,0.00,1.0,1.00,1.00,...,0.0,0.75,0.0,1.0,0.0,1.0,0.00,0.50,0.25,0.00
4,99a4bcd9cab581a4e48de3d5b2760f7bf3be08214a5dcc...,0,0.5,0.5,0.0,0.25,0.25,0.0,0.75,0.75,...,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.75,0.75

In [10]:
all_train_data.describe()

,Moons,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Feature_143,Feature_144,Feature_145,Feature_146,Feature_147,Feature_148,Feature_149,target_r,target_g,target_b
count,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,...,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000
mean,44.070793,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,...,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926
std,25.867701,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,...,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,...,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000
50%,44.000000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
75%,67.000000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,...,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000
max,89.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
train_data = train_data.drop(['id', 'Moons'], axis=1)
test_data = test_data.drop(['id', 'Moons'], axis=1)

In [12]:
moon = all_train_data['Moons']

In [13]:
moon.value_counts()

70    1124
33    1124
34    1115
41    1111
18    1109
      ...
1      992
88     992
0      989
86     983
89     977
Name: Moons, Length: 90, dtype: int64

In [14]:
target_r = all_train_data['target_r']
target_g = all_train_data['target_g']
target_b = all_train_data['target_b']

In [15]:
feature_1 = all_train_data['Feature_1']
feature_1.value_counts()

0.00    19067
1.00    19053
0.75    19018
0.25    19018
0.50    19009
Name: Feature_1, dtype: int64

In [16]:
# plt.figure(figsize=(13,10))
# plt.plot( feature_1, target_b)
# plt.show()

# Modeling

In [17]:
train_data = all_train_data.drop(['Moons', 'target_r', 'target_g', 'target_b'], axis=1)

In [18]:
train_data.describe()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10,...,Feature_140,Feature_141,Feature_142,Feature_143,Feature_144,Feature_145,Feature_146,Feature_147,Feature_148,Feature_149
count,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,...,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000,95165.000000
mean,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,...,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926,0.499926
std,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,...,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728,0.353728
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,...,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000
50%,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
75%,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,...,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
train_data

,id,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Feature_140,Feature_141,Feature_142,Feature_143,Feature_144,Feature_145,Feature_146,Feature_147,Feature_148,Feature_149
0,50cbe00e43fa9573ec8a7aa186b93474533efa3e66390e...,0.00,0.00,0.0,0.25,0.25,0.0,0.75,0.00,0.25,...,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.25
1,eb00b98aa721953abe4c59ff6970b3ae13daac948d5ca4...,1.00,1.00,0.0,1.00,1.00,0.0,0.00,0.75,1.00,...,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.25
2,af82e0423cf8d9c1fb2acec7f67d4623435d763e81ec26...,0.00,0.00,0.0,0.00,0.00,0.0,1.00,0.00,0.25,...,1.00,1.0,1.0,0.0,0.75,0.00,0.0,0.00,0.0,0.25
3,6a880f7a961c53cad703fc2fb5e264e5e04fd779048aec...,1.00,0.00,1.0,0.50,0.00,1.0,1.00,1.00,0.00,...,1.00,0.0,0.0,0.0,0.75,0.00,1.0,0.00,1.0,0.00
4,99a4bcd9cab581a4e48de3d5b2760f7bf3be08214a5dcc...,0.50,0.50,0.0,0.25,0.25,0.0,0.75,0.75,0.00,...,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95160,e24db574760e7a65ef2429dc990d5b0e2d0a92ba348edb...,0.75,0.75,1.0,0.75,0.75,1.0,0.25,0.50,0.75,...,0.75,1.0,1.0,1.0,0.75,0.25,1.0,0.75,1.0,0.00
95161,81e5a48ead25092fba93ce64e17a7c036585881888d2bf...,0.50,0.50,1.0,0.50,0.75,1.0,0.25,0.50,0.75,...,0.75,1.0,1.0,1.0,0.75,0.75,1.0,0.75,1.0,0.00
95162,9a1aa9a52cabf19e1c44e684643d900a78af1270203715...,1.00,1.00,1.0,0.25,0.50,1.0,0.50,0.50,1.00,...,0.75,1.0,1.0,1.0,0.75,0.50,1.0,0.75,1.0,0.75
95163,9fcced5428c003ae4bf594a7bfccba4ddbf200a0928c72...,1.00,1.00,1.0,1.00,1.00,1.0,0.00,0.50,0.75,...,0.75,1.0,1.0,1.0,0.75,1.00,1.0,0.50,1.0,0.75
95164,7e59c3cc40998602fa93971c858950416a0f83aa42611b...,0.50,0.50,1.0,0.00,0.25,1.0,0.75,0.75,0.25,...,0.75,1.0,1.0,1.0,0.75,0.00,1.0,0.50,1.0,0.00

In [20]:
train_data = train_data.drop(['id'], axis = 1)

In [69]:
def xg_boost_hackathon(data, target):
    X, y = data, target
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False, random_state=42)
    model = xgb.XGBRegressor(objective='reg:squarederror', max_depth=5, learning_rate=0.01, n_estimators=2000, n_jobs=-1, colsample_bytree=0.8)
    #model = GradientBoostingRegressor(loss= 'squared_error',max_depth=5,learning_rate=0.01, n_estimators=2000, criterion='squared_error', max_features='sqrt', random_state=0)
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    scorer(y_test, pred)
    #accuracy(y_test, pred)

    return model

In [70]:
def scorer(y_test, y_pred):
    score = (stats.spearmanr(y_test, y_pred)*100)[0]
    print('Score as calculated for the leader board (っಠ‿ಠ)っ {}'.format(score))
    # print('accuracy_score: {}'.format(accuracy_score(y_test, y_pred)))

In [71]:
model_target_r = xg_boost_hackathon(train_data, train_targets.target_r)
model_target_g = xg_boost_hackathon(train_data, train_targets.target_g)
model_target_b = xg_boost_hackathon(train_data, train_targets.target_b)

Score as calculated for the leader board (っಠ‿ಠ)っ 0.015024665414414514
Score as calculated for the leader board (っಠ‿ಠ)っ 0.0185119918783158
Score as calculated for the leader board (っಠ‿ಠ)っ 0.019033164586881746

# Make a prediction

In [24]:
prediction = pd.DataFrame()
prediction['target_r'] = model_target_r.predict(test_data)
prediction['target_g'] = model_target_g.predict(test_data)
prediction['target_b'] = model_target_b.predict(test_data)

In [25]:
prediction

      target_r  target_g  target_b
0     0.503883  0.522151  0.498441
1     0.496287  0.481472  0.495596
2     0.544884  0.535245  0.522783
3     0.518681  0.525450  0.519910
4     0.495880  0.494235  0.522311
...        ...       ...       ...
2984  0.490794  0.525972  0.526539
2985  0.520759  0.533254  0.519565
2986  0.489558  0.531585  0.513337
2987  0.467331  0.446350  0.460506
2988  0.485371  0.479344  0.485266

[2989 rows x 3 columns]

In [26]:
# API_KEY = "" # <- HERE

# r = requests.post("https://tournament.crunchdao.com/api/v2/submissions",
#     files = {
#         "file": ("x", prediction.to_csv().encode('ascii'))
#     },
#     data = {
#         "apiKey": API_KEY
#     },
# )

# if r.status_code == 200:
#     print("Submission submitted.")
# elif r.status_code == 423:
#     print("ERR: Submissions are close")
#     print("You can only submit during rounds eg: Friday 7pm GMT+1 to Sunday midnight GMT+1.")
#     print("Or the server is currently crunching the submitted files, please wait some time before retrying.")
# elif r.status_code == 422:
#     print("ERR: API Key is missing or empty")
#     print("Did you forget to fill the API_KEY variable?")
# elif r.status_code == 400:
#     print("ERR: The file must not be empty")
#     print("You have send a empty file.")
# elif r.status_code == 401:
#     print("ERR: Your email hasn't been verified")
#     print("Please verify your email or contact a cruncher.")
# elif r.status_code == 409:
#     print("ERR: Duplicate submission")
#     print("Your work has already been submitted with the same exact results, if you think that this a false positive, contact a cruncher.")
#     print("MD5 collision probability: 1/2^128 (source: https://stackoverflow.com/a/288519/7292958)")
# elif r.status_code == 429:
#     print("ERR: Too many submissions")
# else:
#     print("ERR: Server returned: " + str(r.status_code))
#     print("Ouch! It seems that we were not expecting this kind of result from the server, if the probleme persist, contact a cruncher.")